wget
absl-py
tqdm
numpy
keras
sklearn
gym
gym[atari]
gym[box2d]
tensorflow-datasets
matplotlib
requests
tensorflow_probability
opencv-python
optuna
pygame==1.9.4
gym-super-mario-bros
box2d-py
roboschool
-e git+https://github.com/ntasfi/PyGame-Learning-Environment.git#egg=ple
-e git+https://github.com/lusob/gym-ple.git#egg=gym-ple