wget
tqdm
numpy==1.16.4
keras
gym
gym[atari]
gym[box2d]
matplotlib
requests
opencv-python
optuna
pygame==1.9.4
gym-super-mario-bros
box2d-py
roboschool
-e git+https://github.com/ntasfi/PyGame-Learning-Environment.git#egg=ple
-e git+https://github.com/lusob/gym-ple.git#egg=gym-ple